<div id="myModal" class="modal-container">
  <div class="modal">
    <div class="modal-head">
      <div class="modal-title">Add Notice</div>
      <div onclick="closeModal()" class="modal-close">
        <%- include("../partials/icons/close-svg"); -%>
      </div>
    </div>
    <div class="modal-content">
      <div class="container">
        <form action="/options/notice" method="post">
          <label for="name"
            >Person
            <div class="">
              <select required name="userId" id="projectName">
                <option value="0">Select Person</option>
                <option value="all">All</option>
                <% users.map(user =>{%> 
                  <%if( user.user_role !=='admin'){ %>
                <option value="<%=user.id%>"><%=user.user_name%></option>
                <%} %> 
                <%}) %>
              </select>
            </div>
          </label>
          <label for="projectDetails">
            Notice Details
            <div class="">
              <textarea required
                name="noticeDetails"
                id="projectDetails"
                cols="30"
                rows="3"
              ></textarea>
            </div>
          </label>
          <div class="">
            <button class="submit-btn" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
