<div id="myModal" class="modal-container">
  <div class="modal">
    <div class="modal-head">
      <div class="modal-title">Add User</div>
      <div class="modal-close"><%- include("./icons/close-svg"); -%></div>
    </div>
    <div class="modal-content">
      <div class="container">
        <form
          action="/add-user"
          method="POST"
          id="add-user-form"
          enctype="multipart/form-data"
        >
          <div class="profile-avatar add-user-avatar">
            <img id="img" src="/uploads/avatars/demo-avatar.png" alt="" />
            <div id="edit-btn">
              <label title="upload under 1MB file" for="edit">
                <%- include("./icons/edit-svg"); -%>
              </label>
              <input
                name="avatar"
                hidden
                id="edit"
                type="file"
                :accept="accept"
              />
            </div>
          </div>
          <label for="name"
            >Name
            <div class="">
              <input name="name" class="" type="text" />
              <p class="error name-error"></p>
            </div>
          </label>
          <label for="gender">
            Gender
            <div class="">
              <select name="gender" id="gender">
                <option disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <p class="error select-error"></p>
            </div>
          </label>
          <label for="email">
            Email
            <div class="">
              <input type="email" name="email" id="email" />
              <p class="error email-error"></p>
            </div>
          </label>
          <label for="phone">
            Phone
            <div class="">
              <input type="tel" name="phone" id="phone" />
              <p class="error phone-error"></p>
            </div>
          </label>
          <p class="error avatar-error"></p>
          <p class="error common-error"></p>
          <div class="">
            <button class="submit-btn" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="<%=baseUrl%>/js/addUserModal.js"></script>
