<div id="myModal" class="modal-container">
  <div class="modal">
    <div class="modal-head">
      <div class="modal-title">Request Leave</div>
      <div class="modal-close">
        <%- include("../partials/icons/close-svg"); -%>
      </div>
    </div>
    <div class="modal-content">
      <div class="container">
        <form action="/add-leaveday" method="post">
          <label for="name">
            <div class="">
              <select  name="typeId">
                <option disabled selected>Select Type</option>
                <% leaveTypeList.map(el =>
                {%>
                <option value="<%= el.id %>"><%= el.name %> (<%= el.duration%>)</option>

                <% }) %>
              </select>
              </div>
              </label>
              <p class="error select-error"></p>
          <label for="projectDetails">
            Select Start Date
            <div class="">
              <input type="date" name="start" />
              <p class="error start-error"></p>
            </div>
          </label>
          <label for="projectDetails">
            Select End Date
            <div class="">
              <input type="date" name="end" />
              <p class="error end-error"></p>
            </div>
          </label>
          <div class="">
            <button class="submit-btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
