<div id="bottom-notification" class="notification">
  <ul>
    <a href="">
      <li>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum
        laudantium nesciunt consectetur incidunt amet saepe neque iure quasi sit
        omnis.
      </li>
    </a>
    <a href="">
      <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod corporis
        explicabo reiciendis eos atque tempora corrupti ratione magni qui
        expedita!
      </li>
    </a>
  </ul>
</div>
