<!-- Markup for user delete modal -->
<div id="deleteModal" class="modal-container delete-modal">
  <div class="modal">
    <div class="modal-head">
      <div class="modal-title">Confirmation !!!</div>
      <div class="modal-close">
        <%- include("../partials/icons/close-svg"); -%>
      </div>
    </div>
    <div class="modal-content">
      <div class="container">
        <h5>Are you sure you want to delete this?</h5>

        <div class="modal-btn-container">
          <button class="modal-cancel-btn">Cancel</button>
          <button class="modal-delete-btn">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
