</main>

<script>
     const startDatePicker = MCDatepicker.create({
        el: "#startPicker",
        dateFormat: "DD-MM-YYYY",
      });
  const endDatePicker = MCDatepicker.create({
        el: "#endPicker",
        dateFormat: "DD-MM-YYYY",
      });
;

</script>
<script src="<%=baseUrl%>/main.js"></script>


</body>
</html>