<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/icons/x-icon.jpg" type="image/x-icon"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oclock UI</title>
    <link rel="stylesheet" href="<%=baseUrl%>/style.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/modal.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/responsive.css" />
  </head>
  <body>
    <%- include("./nav.ejs"); -%>
    <main>