<div id="more-option" class="more-option">
  <ul>
    <li>
      <a href="/profile">
        <div class="more-icon">
          <%- include("./icons/profile-svg.ejs"); -%>
        </div>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="/logout">
        <div class="more-icon">
          <%- include("./icons/logout-svg.ejs"); -%>
        </div>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
