<div class="navigation">
  <ul>
    <li class="list active">
      <b></b>
      <b></b>
        <a href="/dashboard">
          <span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
          <span class="title">Home</span>
        </a>
    </li>
    <li class="list">
      <b></b>
      <b></b>
      <a href="">
        <span class="icon"><ion-icon name="time-outline"></ion-icon></span>
        <span class="title">Time Tracker</span>
      </a>
  </li>
  <li class="list">
    <b></b>
      <b></b>
    <a href="#">
      <span class="icon"><ion-icon name="calendar-number-outline"></ion-icon></span>
      <span class="title">Calender</span>
    </a>
</li>
<li class="list">
  <b></b>
      <b></b>
  <a href="#">
    <span class="icon"><ion-icon name="code-outline"></ion-icon></span>
    <span class="title">Projects</span>
  </a>
</li>
  </ul>
</div>
<!-- <div class="toggle">
  <ion-icon name="menu-outline" class="open"></ion-icon>
</div> -->