<div id="myModal" class="modal-container">
  <div class="modal">
    <div class="modal-head">
      <div class="modal-title">Start Work</div>
      <div class="modal-close">
        <%- include("./icons/close-svg"); -%>
      </div>
    </div>
    <div class="modal-content">
      <div class="container">
        <form id="startData">
          <label for="projectName"
            >Project Name
            <div class="">
              <select name="projectName" id="projectName">
                <option value="0">Select Project</option>
                <% projects.map(project =>{%>
                <option value="<%=project.id%>">
                  <%=project.project_name%>
                </option>
                <%}) %>
              </select>
            </div>
            <p class="error select-error"></p>
          </label>
          <label for="text">
            Work details
            <div class="">
              <textarea
                name="workDetails"
                id="projectDetails"
                cols="10"
                rows="3"
              ></textarea>
            </div>
            <p class="error workDetails-error"></p>
          </label>
          <div class="">
            <button id="start-button" class="submit-btn">
              Start
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
