#options {
}
.options-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.options-cards a {
  text-decoration: none;
}
.options-card {
  width: 160px;
  height: 160px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

.card-icon {
  padding: 10px;
  border-radius: 50%;
  background: var(--deep);
}
.card-icon svg {
  height: 30px;
  width: 30px;
  stroke: var(--white);
}
.card-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--deep);
  padding: 10px 8px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.card-text {
  width: 90%;
  font-size: 10px;
  text-align: center;
  color: var(--deep);
  font-weight: 400;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.3s ease;
}
.options-card:hover {
  background: var(--fade-bluish-gray);
}

.options-card:hover .card-text {
  opacity: 1;
  transition: all 0.3s ease;
}
.project-table {
  border-collapse: collapse;
  margin: 30px 40px;
}
.project-table thead {
  font-size: 16px;
  font-weight: 700;
  color: var(--deep-gray);
}
.project-table thead td {
  padding-bottom: 20px;
}

.project-table tbody {
  font-size: 14px;
  font-weight: 600;
  color: var(--deep2);
}
.project-table thead td {
  max-width: 300px;
  min-width: 160px;
  padding: 20px 10px;
}
.project-table tbody td {
  border-bottom: 1px solid #b9b9b9;
  max-width: 300px;
  min-width: 80px;
  padding: 20px 10px;
}

.project-table tbody td {
  margin-bottom: -1px;
}

.action-btn,
.update-btn,
.delete-btn,
.save-btn {
  background-color: #103047;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.save-btn {
  background-color: rgb(17, 221, 17);
}
.delete-btn {
  background-color: rgb(255, 0, 0);
}
.action-btn,
.save-btn {
  width: 60px;
}
.update-btn,
.delete-btn,
.save-btn {
  display: none;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.project-table input[type="text"] {
  outline: none !important;
  border-radius: 10px;
}
.project-table input[type="text"]:focus {
  outline: none;
  border: none;
}
.option-value {
  border: none;
  background-color: transparent;
  padding: 6px;
  outline: none;
}
.option-value-focus:focus {
  color: red;
  outline: none;
}

.bottom-border {
  color: red;
  outline: none;
}
.opt-val-change-btn,
.opt-val-save-btn,
.opt-cancel-btn {
  background-color: #103047;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  width: 70px;
}
.opt-val-save-btn,
.opt-cancel-btn {
  display: none;
}

.opt-val-save-btn {
  background-color: rgb(17, 221, 17);
}
.opt-cancel-btn{
  background-color: #b9b9b9;
}

/* leaveday table */

.table .leaveday-table .td-width {
  width: 30%;
  min-width: 120px;
}


/* holiday page */

.holiday-table input[type="text"] {
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
}
.holiday-table input[type="text"]:focus {
  outline: none;
  border: none;
}
.holiday-table,
tbody td {
  margin-bottom: -1px;
}
.holiday-table input[type="text"] {
  outline: none !important;
  border-radius: 10px;
}
.holiday-table thead td:nth-child(1) {
  min-width: 60px;
}
.holiday-table a {
  text-decoration: none;
}

@media screen and (min-device-width: 380px) and (max-device-width: 768px) {
  .holiday-table {
    overflow-x: scroll !important;
  }
}
.action-btn,
.update-btn,
.delete-btn,
.save-btn {
  background-color: #103047;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.save-btn {
  background-color: rgb(17, 221, 17);
}
.delete-btn {
  background-color: rgb(255, 0, 0);
}
.action-btn,
.save-btn {
  width: 60px;
}
.update-btn,
.delete-btn,
.save-btn {
  display: none;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.set-styles {
  border-bottom: 3px solid #ccc;
  gap: 5px;
}
/* style for the date range holiday  same css  */
.date-range-input {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}
.date-range-input-container {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 5px 10px;
  height: 45px;
}

.date-input {
  background: #f3f3f3;
  width: 150px;
  padding: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
  border: none;
  outline: none;
  /* border: 1px solid #EAEEF4;
border-radius: 12px; */
  text-align: left;
}
.date-input:focus,
input[type="data"]:focus {
  border: none;
  outline: none !important;
}

/* leaveDay page */

.leaveday-table input[type="text"] {
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 6px;
  font-size: 14px;
  font-weight: 500;
  width: 90%;
}

.leaveday-table th,
.leaveday-table td {
  width: 158px !important;
}
.leaveday-table a {
  text-decoration: none;
}
.action-btn,
.update-btn,
.delete-btn,
.save-btn {
  background-color: #103047;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.save-btn {
  background-color: rgb(17, 221, 17);
}
.delete-btn {
  background-color: rgb(255, 0, 0);
}
.action-btn,
.save-btn {
  width: 50%;
}
.update-btn,
.delete-btn,
.save-btn {
  display: none;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 150px;
}

.set-styles {
  border-bottom: 3px solid #ccc;
  gap: 5px;
}

/* style for the date range holiday  same css  */
.date-range-input {
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}
.date-range-input-container {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 5px 10px;
  height: 45px;
}

.date-input {
  background: #f3f3f3;
  width: 150px;
  padding: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
  border: none;
  outline: none;
  /* border: 1px solid #EAEEF4;
border-radius: 12px; */
  text-align: left;
}
.date-input:focus,
input[type="data"]:focus {
  border: none;
  outline: none !important;
}