@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import 'report.css';
@import 'options.css';
@import 'home.css';
@import 'user.css';

:root {
  --white: #ffffff;
  --bg: #fbfcff;
  --deep: #103047;
  --primary: #0094ff;
  --deep2: #565c7d;
  --deep-gray: #7b81a1;
  --prim-fade: #f0f9ff;
  --fade-bluish-gray: #eaeef4;
  --success-fade: #f0fff4;
  --yellow-fade: #fbfff0;
  --fade-purple: #f3f0ff;
  --black: #000000;
  --font-black: #212d37;
  --red: #ff7272;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: var(--bg);
  position: fixed;

}
#pageLoad{
  background:var(--white) url('/img/clock2.gif') no-repeat center center  ;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 200;

}
.loader::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
.scroll-table {
  overflow-x:auto;
  overflow-y:hidden;
}
p.error {
  color: var(--red);
  font-size: 14px;
  margin-bottom: 8px;
  display: none;
  text-transform: capitalize;
}
.container input.error {
  border: 1px solid var(--red);
}

input:focus {
  outline: none !important;
  border: 2px solid #0094ff;
  box-shadow: 0 0 0px 2px #0094ff;
}
textarea:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 4px #719ece;
}

main::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

main::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--deep);
}
/* Login page */
#login {
}

.login-box {
  position: absolute;
  width: 325px;
  height: 520px;
  margin: auto;
  inset: 0;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 27px 42px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.login-logo {
  padding: 20px;
}
.login-input input {
  width: 80%;
  height: 50px;
  background: #f6f6f6;
  border-radius: 17px;
  border: 0;
  margin: 8px 0;
  padding: 5px 12px;
  font-size: 18px;
  color: #7b81a1;
  line-height: 18px;
  font-weight: 400;
}
.login-btn {
  width: 85%;
  height: 55px;
  background: #103047;
  margin: 8px 0;
  font-size: 20px;
  color: #f6f6f6;
  border: 0;
  border-radius: 17px;
  padding: 5px 8px;
  cursor: pointer;
}
.social-login ul {
  padding: 0;
  width: 90%;
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-login ul li {
  list-style: none;
  height: 50px;
  width: 50px;
  padding: 12.5px;
  margin: 8px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 16px;
  cursor: pointer;
}
.login-forget a {
  font-size: 14px;
  color: #7b81a1;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}
.login-active {
  font-size: 14px;
  color: #7b81a1;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-top: 10px;
}
.login-active a {
  cursor: pointer;
  color: #7b81a1;
  font-weight: 500;
  text-decoration: none;
}
.error-msg {
  margin: 0;
  padding: 5px 0;
  color: red;
  font-size: 14px;
  font-weight: 400;
}

/* search-modal */
#search-modal {
}
.search-modal-box {
  position: absolute;
  width: 450px;
  height: 300px;
  margin: auto;
  inset: 0;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 27px 42px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.login-logo {
  padding: 20px;
}
.active-details {
  min-height: 160px;
  padding: 5px 10px;
}
.search-details {
  font-size: 17px;
  color: var(--deep2);
  line-height: 20px;
  padding: 16px 10px;
}
.email-input input {
  width: 90%;
  margin: 0px 10px;
  height: 40px;
  background: none;
  border-radius: 17px;
  border: 1px solid;
  padding: 5px 12px;
  font-size: 18px;
  color: var(--deep-gray);
  line-height: 18px;
  font-weight: 400;
}

.btn-box {
  float: right;
  padding: 8px 16px;
}
.btn {
  padding: 0px 20px;
  border-radius: 8px;
  background-color: #e4e6eb;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 36px;
  color: black;
  margin-left: 8px;
  cursor: pointer;
}
.primary-btn{
  background-color: #0b42cc;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}
.accept-btn{
  background-color:hsl(119, 80%, 50%);
}
.accept-btn:hover{
  background-color:hsl(119, 80%, 45%);
}
.reject-btn{
  background-color: hsl(0, 100%, 50%);
}
.reject-btn:hover{
  background-color: hsl(0, 100%, 45%) ;
}
.mail-sent {
  padding: 10px;
  line-height: 24px;
}
.mail-title {
  font-size: 18px;
}
.mail-text {
  color: var(--deep2);
}
.search-btn {
  background-color: var(--deep);
  color: var(--white);
}
.cancle-btn {
  background-color: var(--fade-bluish-gray);
  color: var(--deep-gray);
}
/* Side nav bar start */

.sidebar {
  position: fixed;
  height: 100vh;
  width: 180px;
  padding: 32px 16px;
}

.nav-list {
  margin-top: 40px;
}

.nav-list li {
  position: relative;
  height: 46px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 46px;
  margin-bottom: 8px;
}
.nav-list li a svg {
  width: 18px;
  height: 18px;
  margin: 0 14px;
}
.nav-list li a {
  color: var(--deep-gray);
  stroke: var(--deep-gray);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}
.nav-list li:hover {
  background-color: var(--deep);
  color: var(--white);
  border-radius: 14px;
}
.nav-list li a:hover {
  color: var(--white);
  stroke: var(--white);
}

.sidebar-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 20px;
  width: 160px;
  height: 46px;
  border: 1px solid #e8e8e8;
  border-radius: 12px;
}

.sidebar-footer img {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid #e1e0e0;
  border-radius: 10px;
}
.sidebar-footer .username {
  flex-grow: 2;
  color: var(--deep-gray);
  padding: 0 5px;
  font-weight: 500;
  font-size: 14px;
}
.sidebar-footer .more {
  cursor: pointer;
  padding-right: 20px;
}
.more:hover {
  stroke: var(--deep-gray);
}

.more-option {
  display: none;
  position: absolute;
  width: 150px;
  height: 70px;
  border-radius: 15px;
  background: #ffffff;
  left: 30px;
  bottom: 80px;
  box-shadow: 0px 23px 27px rgba(0, 0, 0, 0.13),
    0px 6.96494px 6.11893px rgba(0, 0, 0, 0.0847066),
    0px 2.51788px 1.42419px rgba(0, 0, 0, 0.065),
    0px 0.750053px 0.0354451px rgba(0, 0, 0, 0.0452935);
}
.sub-options {
  width: 140px;
  /* margin-left: auto; */
  margin: auto;
  transition: opacity 0.5s linear;  
  transform:translate(0);
  opacity: 1;
}
.hidden{
  transform:translate(9999px);
  opacity: 0;
}
.sub-options a {
  text-decoration: none;
}
.sub-options .nav-li {
  margin: auto;
  width: 100%;
  background-color: var(--fade-bluish-gray);
  color: var(--deep-gray);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  margin: 8px;
  transition: ease-in-out 1.2;
}
.sub-options .nav-li:hover {
  background-color: var(--deep);
  cursor: pointer;
  color: #fff;
}
.show-more {
  display: block;
}
.more-option:after {
  content: " ";
  position: absolute;
  right: 20px;
  bottom: -10px;
  border-top: 15px solid #ffffff;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
.more-option li {
  position: relative;
  height: 20px;
  margin: 2px 5px;
  list-style: none;
  line-height: 20px;
}
.more-option .more-icon svg {
  width: 18px;
  height: 18px;
  margin: 0 10px;
}
.more-option li a {
  color: var(--deep2);
  stroke: var(--deep2);
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0px 15px 0px;
  padding: 5px 0;
}
.more-option li a:hover {
  background-color: #f6f6f6;
  border-radius: 9px;
}
.nav-list .active {
  background-color: var(--deep);
  border-radius: 14px;
}
.nav-list .active svg {
  color: var(--white);
  stroke: var(--white);
  width: 22px;
  height: 22px;
}
.nav-list .active a span {
  color: var(--white);
}

/* Side nav bar end */

/* Bottom Nav Bar start */

.header {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--bg);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
.nav-container {
  width: p;
  height: 48px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.nav-container svg {
  height: 50px;
  width: 40px;
}

.bottom-nav-menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 32px 0px 64px 0px;
  background-color: var(--bg);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 23px 23px 0 0;
  transition: 0.3s;
}
.show-menu {
  bottom: 0;
}
.nav-link {
  text-decoration: none;
  color: var(--deep2);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-nav-list {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.bottom-nav-list a:hover .nav-icon svg {
  stroke: var(--deep);
}
.nav-link:hover {
  color: var(--deep);
}
.nav-icon svg {
  color: var(--deep-gray);
  stroke: var(--deep-gray);
  padding: 10px;
}
.nav-item {
  list-style: none;
}
.nav-close {
  stroke: var(--deep-gray);
  position: absolute;
  right: 25px;
  bottom: 10px;
  cursor: pointer;
}
.nav-close svg {
  height: 32px;
  width: 32px;
}
.nav-close:hover {
  stroke: var(--deep2);
}

.nav-toggle svg {
  width: 32px;
  height: 32px;
  stroke: var(--deep2);
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-image img {
  width: 32px;
  height: 32px;
  margin: 5px;
  border: 1px solid #e1e0e0;
  border-radius: 14px;
  cursor: pointer;
  margin: 0px 10px;
}

.active-b-nav svg {
  stroke: var(--deep);
  stroke-width: 2;
}
.active-b-nav a {
  color: var(--deep);
  font-weight: 600;
}

/* Bottom Nav Bar End */

main {
  width: cal(100% - 190px);
  height: 95vh;
  margin: 10px 10px 10px 190px;
  border-radius: 15px;
  background: var(--white);
  /* background: black; */
  overflow: auto;
  padding: 0 10px 10px 10px;
  z-index: 100;
}
.text-title a{
  text-decoration: none;
  color: var(--deep);
}

/* Report date range */

#datepicker {
  border: none;
  background: none;
}
#datepicker:focus {
  border: none;
}
.to {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: #9b9b9b;
  padding: 10px;
}
.date-picker {
  color: var(--font-black);
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  padding: 10px 10px;
  border-radius: 8px;
}
.date-picker input {
  border: none;
  font-size: 16px;
  font-weight: 500;
  width: 90px;
  color: var(--font-black);
  background: #f3f3f3;
  cursor: pointer;
}
.date-picker input::placeholder {
  font-size: 18px;
  background: #f3f3f3;
  color: #9b9b9b;
}
.date-icon {
  padding: 10px;
  cursor: pointer;
}
.date-icon svg {
  stroke: #848484;
}
.date-icon svg:hover {
  stroke: var(--primary);
}
.date-icon-active svg {
  stroke: var(--primary);
}

/* Report page css */
/* Modal btn style */
.modal-btn-container {
  margin-top: 20px;
}

.delete-modal {
  display: none;
}

/* Report not founded css */
.report-not-found {
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--deep);
}
.modal-delete-btn,
.modal-cancel-btn {
  background-color: #103047;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.modal-delete-btn {
  background-color: #ff0000;
}



/* Pagination  */
.pagination{
  display: flex;
  align-items: center;
}
.pagination .selectLimit{
  margin: 0 40px;
}
.selectLimit select{
  width: 80px;
    height: 40px;
    padding: 6px;
    margin: 12px 0px;
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
    border: 1px solid #eaeef4;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}
.selectLimit select option{
  cursor: pointer;
}

.pagination ul {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}
.pagination ul li {
  color: #837575;
  list-style: none;
  height: 40px;
  width: 40px;
  margin: 5px;
  font-size: 12px;
  padding: 10px;
  font-weight: 500;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li:hover{
  border: 1.5px solid #848484;
  transition: all 0.4 ease-in-out;
}
.pagination a {
  text-decoration: none;
  color: #837575;
}
.pagination .page-active li {
  border: 1px solid var(--primary);
  background-color: #0095ff0e;
  color: var(--primary);
}
.next::before {
  content: url("/icons/next.svg");
}
.last::before {
  content: url("/icons/last.svg");
}
.first::before {
  content: url("/icons/first.svg");
}
.prev::before {
  content: url("/icons/prev.svg");
}

/* profile page */

.profile-avatar-img{
  position: relative;
  margin-bottom: 20px;
}
.profile-avatar-img img{
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
#profile-update-btn{
  position: absolute;
  width: 30px;
  height: 26px;
  overflow: hidden;
  border-radius: 17px;
  top: 65px;
  margin-left: -30px;
  display: inline-block;
  background: #2E2E2E;
  transition: 1s ease;

}
#profile-update-btn:hover{
 width: 120px;
}
#profile-update-btn a{
  text-decoration: none;
}
.update-icon {
  display: inline-block;
  padding: 2px;
  transition: 0.2s ease-in-out;
}

.update-icon svg{
  width: 20px;
  height: 20px;
  stroke: #FFFFFF;
  stroke-width: 2;
  cursor: pointer;
}
#profile .social-icon {
  margin-bottom: 10px;
}
.social-icon span{
  cursor: pointer;
}
.social-icon svg {
  stroke: #7B81A2;
}
.social-box{
color: var(--deep2);
font-size: 16px;
width: 90px;
border: 1px solid #E8E8E8;
border-radius: 13px;
background:#FFFFFF;
cursor: pointer;
display: inline-flex;
align-items: center;
transition: 1s ease;
overflow: hidden;
margin: 4px 2px;
}
.social-box:hover{
  border: 1px solid var(--red);
}
.social-icon-active{
padding: 6px;
border-right: 1px solid rgba(255, 255, 255, 0.16);
box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
}
.social-text{
  padding: 6px 8px;
  text-transform: uppercase;
}

/* table action */

.update-btn {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .oclock-box {
    width: 700px;
    margin: 20px;
  }
  .home-info {
    padding: 20px 0px;
  }

  /* reports page */
  .work-details {
    justify-content: flex-start;
  }
  .box {
    margin: 20px;
  }
}

@media only screen and (max-width: 992px) {
  main {
    margin: 0;
  }
  .header {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .nav-link svg {
    width: 50px;
    height: 50px;
  }

  .oclock-box {
  }
  .work-details {
    justify-content: space-around;
  }
.table th .td-width,
.table td .td-width {
  min-width: 160px;
}
.project-table tbody td  .td-width{
  min-width: 160px;
}
}
@media only screen and (max-width: 768px) {
  .oclock-box {
    width: 460px;
  }
  .current-time {
    font-size: 32px;
  }
  .time-meridiem {
    font-size: 16px;
  }
  .current-date {
    font-size: 12px;
  }
  .start-details {
    display: none;
  }
  /* .project-name {
    display: none;
  }
  .project-work {
    display: none;
  } */
  .notification:after {
    left: 86%;
  }
  /* Report page */
  .work-details {
    justify-content: space-around;
  }
  .box {
    margin: 8px;
  }
}
@media only screen and (max-width: 576px) {
  .oclock-box {
    width: 380px;
  }
  .current-time {
    font-size: 24px;
  }
  .time-meridiem {
    font-size: 12px;
  }
  .current-date {
    font-size: 12px;
  }
  .counter {
    font-size: 28px;
    width: 80px;
  }
  .button svg {
    height: 30px;
  }
  .notification {
    width: 90%;
  }
  .notification:after {
    left: 86%;
  }
  /* Report page */
  .work-details {
    justify-content: space-around;
  }
  .avatar {
    margin-top: 20px;
  }

  .box {
    width: 320px;
    margin: 8px;
  }
  .options-cards{
    justify-content: space-around;
  }
}
@media only screen and (max-width: 480px) {
  .oclock-box {
    width: 360px;
    padding: 18px;
  }
  .time-box {
    flex-grow: 4;
  }
  .current-time {
    padding: 0;
    font-size: 20px;
  }
  .time-meridiem {
    font-size: 10px;
  }
  .current-date {
    padding: 0;
    font-size: 10px;
  }
  .counter {
    font-size: 24px;
  }
  .home-info {
    padding: 0;
  }
  .notification {
    width: 90%;
  }
  .notification:after {
    left: 80%;
  }

  /* user page */
  .text-title {
    font-size: 32px;
  }
  .text-title a{
    text-decoration: none;
    color: var(--deep);
  }
  .add-btn {
    padding: 8px 12px;
  }
  .add-icon {
    display: none;
  }
  .profile-avatar {
    height: 120px;
  }

  /* Report page */
  .avatar {
    margin-top: 50px;
  }

  .avatar img {
    width: 140px;
    height: 140px;
  }
  .work-details {
    justify-content: space-around;
  }
  .box {
    width: 280px;
    margin: 8px;
  }
  .pagination ul li {
    height: 36px;
    width: 36px;
    margin: 3px;
    font-size: 12px;
    padding: 8px;
    border-radius: 13px;
  }
  .options-card {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
  }
  
  .card-icon {
    padding: 10px;
    border-radius: 50%;
    background: var(--deep);
  }
  .card-icon svg {
    height: 20px;
    width: 20px;
    stroke: var(--white);
  }
  .card-title {
    font-size: 12px;
    font-weight: 600;
    color: var(--deep);
    padding: 10px 8px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .card-text {
    display: none;
  }
  /* leave page */
  .leave-report-box {
    grid-template-columns: 1fr;
    width: 320px;
    height: 400px;
    justify-items: center;
  }
}
@media only screen and (max-width: 320px) {

  .oclock-box {
    width: 280px;
    padding: 20px;
  }
  .time-box {
    display: none;
    padding-left: 18px;
    padding-bottom: 5px;
  }
  .current-time {
  }
  .time-meridiem {
    font-size: 12px;
  }
  .current-date {
  }
  .counter {
    font-size: 20px;
    flex-grow: 3;
    width: 100px;
  }
  .time-box {
    flex-grow:1 ;
  }
  .button{
    flex-grow: 1;
  }
  
}

