
<div class="text-center">
  <h1 class="font-bold md:mt-12 md:p-4 text-red-500 text-3xl">
    <%if(error && error.status){%> 
      <%= "Status" + "-" + error.status %>
    <% } %> 
  </br> <%=error.message %> 
  </h1>

  <p class="text-sm ml-12 text-red-400 text-justify mt-5"><%= error.stack %></p>
  <a href="/">
    <button
      class="
        bg-blue-500
        hover:bg-blue-400
        text-white
        font-bold
        py-2
        px-4
        mt-7
        border-b-4 border-blue-700
        hover:border-blue-500
        rounded
      "
    >
      GO BACK
    </button></a
  >
</div>

<p><%# error.status %></p>
<p><%# error.stack %></p>

