<%- include("../partials/flash-message.ejs"); -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
 
</head>
<body>
  <form action="/find-user" method="POST">
    <h2>Find Your account</h2>
    <h4>Please enter your email address or mobile number to search for your account.</h4>
    <label for="find"></label>
    <input id="find" name="email" type="text" placeholder="Username or email">
    <button type="submit">Find</button>
  </form>
</body>
</html>