<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <form action="/recover" method="POST">
    <h2>Reset Your Password</h2>
    <h4>
      How do you want to receive the code to reset your password?</h4>
    <label for="find"></label>
    <input id="find" name type="radio">
    <h4><%= email&& email%></h4>
    <input name="email" type="hidden" value="<%= email&& email%>" >
    <button><a href="/find-user">Not you</a></button>
    <button type="submit">continue</button>
  </form>
</body>
</html>