<%- include("../partials/header"); -%>
<h1>Home page</h1>

<h1 class="font-bold text-center text-red-600 text-5xl pt-10">
  Hellow Tailwind CSS
</h1>

<h5>Gazi Rahad</h5>

<div class="md:container md:mx-auto">
  <% if(user) { %>
  <h4>User: <%= user[0].user_name %></h4>
  <% } %>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae omnis nihil
    accusamus autem. Commodi accusamus explicabo assumenda incidunt adipisci
    dolore?
  </p>
</div>
<%- include("../partials/footer"); -%>
