<%- include("../partials/header"); -%>


<%- include("../partials/footer"); -%>

if(user){
  <button type="" > <a href="/remove/google"> khoaiz </a> </button>
}else{

  <button type="" > <a href="/auth/google">  google </a> </button>
}