<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
  </head>
  <body>
    <div id="search-modal">
      <div class="search-modal-box">
          <div class="login-logo">
            <%- include("../partials/icons/oclock-logo.ejs"); -%>          
          </div>
          <hr>
          <div class="active-details">
            <div id="details" class="search-details">
              Your verification link has expired
            </div>
            <div style="width:100px;margin: auto;"  class=""><img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/60/000000/external-link-social-media-vitaliy-gorbachev-fill-vitaly-gorbachev.png"/></div>
        </div>
        <hr>
          <div class="btn-box">
            <a href="/"><button id="cancle-btn" type="submit"  class="cancle-btn btn">Go back</button>      </a>      
          </div>
      </div>
  </body>
  </html>