<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
  </head>
  <body>
    <div id="search-modal">
      <div class="search-modal-box">
          <form action="/update-password" method="post">
          <div class="login-logo">
            <%- include("../partials/icons/oclock-logo.ejs"); -%>          
          </div>
          <hr>
          <div class="active-details">
            <div id="details" class="search-details">
              Here you can set new password for signing in to Oclock space Make sure you remember this password and keep it in a safe place.
            </div>
          <div id="mail-input" class="email-input">
            <input required id="pass" name='password' type="text">
          </div>
          <input id="pass" name='email' value="<%= email && email %> " type="hidden">
          <div id="error-msg"></div>
        </div>
        <hr>
          <div class="btn-box">
            <button id="continue-btn" type="submit"  class="search-btn btn">Set new password</button>            
          </div>
          </form>
      </div>
      <script src="<%=baseUrl%>/js/newPassword.js"></script>
  </body>
  </html>